.wrap {
    width: 470px;
    display: flex;
    flex-direction: column;
    padding: 34px 30px;
    gap: 27px;
    background-color: #fff;
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.header .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .title>span {
    font-size: 24px;
    font-weight: 700;
    color: #10226A;
}
.contents::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 12px;
}

.contents::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    border-radius: 12px;
    background: #bababa;
}
.contents {
    max-height: 40dvh;
    display: flex;
    gap: 12px;
    flex-direction: column;
    overflow-y: auto;
        padding: 0 4px 8px 4px;
}
    